body{
    font-family:-apple-system,Helvetica Neue,PingFang SC,Hiragino Sans GB,sans-serif;
}
.title{
    height: 5%;

}

.title .title-image img{
    margin-left: 10%;
    border-radius: 100%;
    height: inherit;
    width:5%

}
.title ul{
    list-style:none;

}
.title .title_nav{
    height: inherit;
    width: 50%;
}
.title .title_nav ul li a{text-decoration: none;}
.title .title_nav ul li a:hover,.title .title_nav ul li a:focus{color:#4078c0;text-decoration:none;}