<!DOCTYPE html>
<html lang="zh-CN">

<!-- Head tag -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!--Description-->
  
  <meta name="description" content="装B 显摆 寻求知己">
  

  <!--Author-->
  
  <meta name="author" content="会流泪的鱼">
  

  <!--Open Graph Title-->
  
      <meta property="og:title" content="留言"/>
  
  <!--Open Graph Description-->
  
      <meta property="og:description" content="装B 显摆 寻求知己" />
  
  <!--Open Graph Site Name-->
  <meta property="og:site_name" content="Evilinf"/>
  <!--Type page-->
  
      <meta property="og:type" content="article" />
  
  <!--Page Cover-->
  

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- 百度统计 -->
    <script>
	var _hmt = _hmt || [];
	(function() {
  	var hm = document.createElement("script");
  	hm.src = "https://hm.baidu.com/hm.js?c0451e16533956173997b85f7a8de666";
  	var s = document.getElementsByTagName("script")[0]; 
  	s.parentNode.insertBefore(hm, s);
	})();
    </script>
  <!-- Title -->
  
  <title>留言 - Evilinf</title>


  <link rel="shortcut icon" href="/">
    <!--font-awesome-->
  <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Custom CSS/Sass -->
  <link rel="stylesheet" href="/css/style.css">

</head>


<body>

  <!-- Nav -->
  <header class="site-header">
  <div class="header-inside">
    
    <div class="logo">
      <a href="/" rel="home">
        
      </a>
    </div>
    <a class="header-name" href="/">
            <span>Evilinf</span>
            的部落宅
        </a>
    <!-- navbar -->
    <nav class="navbar">
      <!--  nav links -->
      <div class="collapse">
        <ul class="navbar-nav">
          
          
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
    <div class="button-wrap">
      <button class="menu-toggle">Primary Menu</button>
    </div>
  </div>
</header>


  <!-- Main Content -->
  <div class="content-area">
  <div class="post">
    <!-- Post Content -->
    <div class="container">
      <article>
        <!-- Title date & tags -->
        <div class="post-header">
          <h1 class="entry-title">
            留言
            
          </h1>
         
        </div>
         <p class="a-posted-on">
          2017-03-13
          </p>
        <!-- Post Main Content -->
        <div class="entry-content">
          <blockquote>
<p>留下你的足迹，让我更有动力。<br><br><br><br><br>最近访客</p>
<p><script type="text/javascript"><br>var duoshuoQuery = {short_name:”&lt;%= theme.duoshuo_shortname %&gt;”};<br>    (function() {<br>        var ds = document.createElement(‘script’);<br>        ds.type = ‘text/javascript’;ds.async = true;<br>        ds.src = (document.location.protocol == ‘https:’ ? ‘https:’ : ‘http:’) + ‘//static.duoshuo.com/embed.js’;<br>        ds.charset = ‘UTF-8’;<br>        (document.getElementsByTagName(‘head’)[0]<br>         || document.getElementsByTagName(‘body’)[0]).appendChild(ds);<br>    })();<br>    </script></p>
<div class="ds-recent-visitors" data-num-items="38" data-avatar-size="42" id="ds-recent-visitors"></div>

</blockquote>
<p><div class="ds-thread" data-thread-key="<%= page.layout %>-<%= page.slug %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div><br><br><br><br></p>

        </div>
      </article>
    </div>
    <!-- Pre or Next -->
    
　　　　
  </div>
</div>


  <!-- Footer -->
  <!-- Footer-widgets -->
<div class="footer-widgets">
      <div class="header-content">
        <div class="header-info-link">
          
            
          
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="site-info">
  <p>
    <span>Evilinf &copy; 2017</span>
    
      <span class="split">|</span>
      <span></span>
    
  </p>
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  本站总访问量<span id="busuanzi_value_site_pv"></span>次
  本站访客数<span id="busuanzi_value_site_uv"></span>人次
</footer>


  <!-- After footer scripts -->
  <!-- scripts -->
<script src="/js/app.js"></script>



</body>

</html>
