<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>销售后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <meta charset="UTF-8">


    <!-- CSS Bootstrap & Custom -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/admin.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/admin.css">
    <!-- Favicons -->
    
    <!-- JavaScripts -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 8]>
	<div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
        </div>
    <![endif]-->
</head>
<body>
    
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LOGO</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">消息 <span class="sr-only">(current)</span></a></li>
            <li ><a href="#">便签</a></li>
              <li ><a href="#">联系人</a></li>
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">功能 <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">发送消息</a></li>-->
                <!--<li><a href="#">添加便签</a></li>-->
                <!--<li><a href="#">添加联系人</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">销售管理</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">库存管理</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">会议管理</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">成员管理</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">报表管理</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">系统管理</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
              <div class="form-group">
                  <select class="form-control">
                      <option>销售管理</option>
                      <option>库存管理</option>
                      <option>会议管理</option>
                      <option>成员管理</option>
                      <option>报表管理</option>
                      <option>系统管理</option>
                  </select>
              </div>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    
    <div class="admin-wrap">
    	<div class="container">
        	<div class="col-lg-12">
            	<ol class="breadcrumb">
                  <li class="active"><a href="#">消息</a></li>
                  <li><a href="#">便签</a></li>
                  <li><a href="#">联系人</a></li>
                </ol>
            </div>
            <div class="col-lg-3">
            	<ul class="nav nav-pills nav-stacked">
                  <li role="presentation" class="active"><a href="#">发送消息</a></li>
                  <li role="presentation"><a href="#">添加便签</a></li>
                  <li role="presentation"><a href="#">添加联系人</a></li>
                </ul>
            </div>
            
            <div class="col-lg-9">
            	<div class="panel panel-default">
                  <div class="panel-heading">消息</div>
                    <div class="panel-body">
                        <ul id="list">
                            <li id="list_item"></li>
                        </ul>
                    </div>
                </div>
            </div>
            
         </div>  
    </div>
    
    
   	<footer>
    	<div class="col-lg-12">
        	<p class="text-center">CAMPANY</p>
        </div>
    </footer>
    
    



    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/plugins.js"></script>-->
    <!--<script src="js/jquery.lightbox.js"></script>-->
    <!--<script src="js/custom.js"></script>-->


</body>
</html>